@using MudBlazor


<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand">Order backlog app</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link "> <MudIcon Icon="@Icons.Material.Filled.Home" Color="Color.Primary" />Home</a>
                <a href="/orders" class="nav-item nav-link"> <MudIcon Icon="@Icons.Material.Filled.List" Color="Color.Primary" />Order list</a>
                <a href="/add" class="nav-item nav-link"> <MudIcon Icon="@Icons.Material.Filled.AddBox" Color="Color.Primary" />Add new order</a>
                <a href="/reports" class="nav-item nav-link" tabindex="-1"> <MudIcon Icon="@Icons.Material.Filled.ViewList" Color="Color.Primary" />Reports</a>
                <a href="#" class="nav-item nav-link disabled"><MudIcon Icon="@Icons.Material.Filled.Login" Color="Color.Primary" />Login</a>
            </div>
           @* <div class="navbar-nav ms-auto">
                <a href="#" class="nav-item nav-link disabled">Login</a>
            </div>*@
        </div>
</nav>


@code{
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


}
